@font-face {
  font-family: octicons-anchor;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAYcAA0AAAAACjQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABMAAAABwAAAAca8vGTk9TLzIAAAFMAAAARAAAAFZG1VHVY21hcAAAAZAAAAA+AAABQgAP9AdjdnQgAAAB0AAAAAQAAAAEACICiGdhc3AAAAHUAAAACAAAAAj//wADZ2x5ZgAAAdwAAADRAAABEKyikaNoZWFkAAACsAAAAC0AAAA2AtXoA2hoZWEAAALgAAAAHAAAACQHngNFaG10eAAAAvwAAAAQAAAAEAwAACJsb2NhAAADDAAAAAoAAAAKALIAVG1heHAAAAMYAAAAHwAAACABEAB2bmFtZQAAAzgAAALBAAAFu3I9x/Nwb3N0AAAF/AAAAB0AAAAvaoFvbwAAAAEAAAAAzBdyYwAAAADP2IQvAAAAAM/bz7t4nGNgZGFgnMDAysDB1Ml0hoGBoR9CM75mMGLkYGBgYmBlZsAKAtJcUxgcPsR8iGF2+O/AEMPsznAYKMwIkgMA5REMOXicY2BgYGaAYBkGRgYQsAHyGMF8FgYFIM0ChED+h5j//yEk/3KoSgZGNgYYk4GRCUgwMaACRoZhDwCs7QgGAAAAIgKIAAAAAf//AAJ4nHWMMQrCQBBF/0zWrCCIKUQsTDCL2EXMohYGSSmorScInsRGL2DOYJe0Ntp7BK+gJ1BxF1stZvjz/v8DRghQzEc4kIgKwiAppcA9LtzKLSkdNhKFY3HF4lK69ExKslx7Xa+vPRVS43G98vG1DnkDMIBUgFN0MDXflU8tbaZOUkXUH0+U27RoRpOIyCKjbMCVejwypzJJG4jIwb43rfl6wbwanocrJm9XFYfskuVC5K/TPyczNU7b84CXcbxks1Un6H6tLH9vf2LRnn8Ax7A5WQAAAHicY2BkYGAA4teL1+yI57f5ysDNwgAC529f0kOmWRiYVgEpDgYmEA8AUzEKsQAAAHicY2BkYGB2+O/AEMPCAAJAkpEBFbAAADgKAe0EAAAiAAAAAAQAAAAEAAAAAAAAKgAqACoAiAAAeJxjYGRgYGBhsGFgYgABEMkFhAwM/xn0QAIAD6YBhwB4nI1Ty07cMBS9QwKlQapQW3VXySvEqDCZGbGaHULiIQ1FKgjWMxknMfLEke2A+IJu+wntrt/QbVf9gG75jK577Lg8K1qQPCfnnnt8fX1NRC/pmjrk/zprC+8D7tBy9DHgBXoWfQ44Av8t4Bj4Z8CLtBL9CniJluPXASf0Lm4CXqFX8Q84dOLnMB17N4c7tBo1AS/Qi+hTwBH4rwHHwN8DXqQ30XXAS7QaLwSc0Gn8NuAVWou/gFmnjLrEaEh9GmDdDGgL3B4JsrRPDU2hTOiMSuJUIdKQQayiAth69r6akSSFqIJuA19TrzCIaY8sIoxyrNIrL//pw7A2iMygkX5vDj+G+kuoLdX4GlGK/8Lnlz6/h9MpmoO9rafrz7ILXEHHaAx95s9lsI7AHNMBWEZHULnfAXwG9/ZqdzLI08iuwRloXE8kfhXYAvE23+23DU3t626rbs8/8adv+9DWknsHp3E17oCf+Z48rvEQNZ78paYM38qfk3v/u3l3u3GXN2Dmvmvpf1Srwk3pB/VSsp512bA/GG5i2WJ7wu430yQ5K3nFGiOqgtmSB5pJVSizwaacmUZzZhXLlZTq8qGGFY2YcSkqbth6aW1tRmlaCFs2016m5qn36SbJrqosG4uMV4aP2PHBmB3tjtmgN2izkGQyLWprekbIntJFing32a5rKWCN/SdSoga45EJykyQ7asZvHQ8PTm6cslIpwyeyjbVltNikc2HTR7YKh9LBl9DADC0U/jLcBZDKrMhUBfQBvXRzLtFtjU9eNHKin0x5InTqb8lNpfKv1s1xHzTXRqgKzek/mb7nB8RZTCDhGEX3kK/8Q75AmUM/eLkfA+0Hi908Kx4eNsMgudg5GLdRD7a84npi+YxNr5i5KIbW5izXas7cHXIMAau1OueZhfj+cOcP3P8MNIWLyYOBuxL6DRylJ4cAAAB4nGNgYoAALjDJyIAOWMCiTIxMLDmZedkABtIBygAAAA==) format('woff');
}

body {
    padding: 5em;
}

.github-gfm {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.github-gfm a {
  background-color: transparent;
}

.github-gfm a:active,
.github-gfm a:hover {
  outline: 0;
}

.github-gfm strong {
  font-weight: bold;
}

.github-gfm h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.github-gfm img {
  border: 0;
}

.github-gfm hr {
  box-sizing: content-box;
  height: 0;
}

.github-gfm pre {
  overflow: auto;
}

.github-gfm code,
.github-gfm kbd,
.github-gfm pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.github-gfm input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.github-gfm html input[disabled] {
  cursor: default;
}

.github-gfm input {
  line-height: normal;
}

.github-gfm input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.github-gfm table {
  border-collapse: collapse;
  border-spacing: 0;
}

.github-gfm td,
.github-gfm th {
  padding: 0;
}

.github-gfm * {
  box-sizing: border-box;
}

.github-gfm input {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.github-gfm a {
  color: #4078c0;
  text-decoration: none;
}

.github-gfm a:hover,
.github-gfm a:active {
  text-decoration: underline;
}

.github-gfm hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.github-gfm hr:before {
  display: table;
  content: "";
}

.github-gfm hr:after {
  display: table;
  clear: both;
  content: "";
}

.github-gfm h1,
.github-gfm h2,
.github-gfm h3,
.github-gfm h4,
.github-gfm h5,
.github-gfm h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.github-gfm h1 {
  font-size: 30px;
}

.github-gfm h2 {
  font-size: 21px;
}

.github-gfm h3 {
  font-size: 16px;
}

.github-gfm h4 {
  font-size: 14px;
}

.github-gfm h5 {
  font-size: 12px;
}

.github-gfm h6 {
  font-size: 11px;
}

.github-gfm blockquote {
  margin: 0;
}

.github-gfm ul,
.github-gfm ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.github-gfm ol ol,
.github-gfm ul ol {
  list-style-type: lower-roman;
}

.github-gfm ul ul ol,
.github-gfm ul ol ol,
.github-gfm ol ul ol,
.github-gfm ol ol ol {
  list-style-type: lower-alpha;
}

.github-gfm dd {
  margin-left: 0;
}

.github-gfm code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.github-gfm pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.github-gfm .select::-ms-expand {
  opacity: 0;
}

.github-gfm .octicon {
  font: normal normal normal 16px/1 octicons-anchor;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.github-gfm .octicon-link:before {
  content: '\f05c';
}

.github-gfm>*:first-child {
  margin-top: 0 !important;
}

.github-gfm>*:last-child {
  margin-bottom: 0 !important;
}

.github-gfm a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.github-gfm .anchor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -18px;
}

.github-gfm .anchor:focus {
  outline: none;
}

.github-gfm h1,
.github-gfm h2,
.github-gfm h3,
.github-gfm h4,
.github-gfm h5,
.github-gfm h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.github-gfm h1 .octicon-link,
.github-gfm h2 .octicon-link,
.github-gfm h3 .octicon-link,
.github-gfm h4 .octicon-link,
.github-gfm h5 .octicon-link,
.github-gfm h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.github-gfm h1:hover .anchor,
.github-gfm h2:hover .anchor,
.github-gfm h3:hover .anchor,
.github-gfm h4:hover .anchor,
.github-gfm h5:hover .anchor,
.github-gfm h6:hover .anchor {
  text-decoration: none;
}

.github-gfm h1:hover .anchor .octicon-link,
.github-gfm h2:hover .anchor .octicon-link,
.github-gfm h3:hover .anchor .octicon-link,
.github-gfm h4:hover .anchor .octicon-link,
.github-gfm h5:hover .anchor .octicon-link,
.github-gfm h6:hover .anchor .octicon-link {
  visibility: visible;
}

.github-gfm h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.github-gfm h1 .anchor {
  line-height: 1;
}

.github-gfm h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.github-gfm h2 .anchor {
  line-height: 1;
}

.github-gfm h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.github-gfm h3 .anchor {
  line-height: 1.2;
}

.github-gfm h4 {
  font-size: 1.25em;
}

.github-gfm h4 .anchor {
  line-height: 1.2;
}

.github-gfm h5 {
  font-size: 1em;
}

.github-gfm h5 .anchor {
  line-height: 1.1;
}

.github-gfm h6 {
  font-size: 1em;
  color: #777;
}

.github-gfm h6 .anchor {
  line-height: 1.1;
}

.github-gfm p,
.github-gfm blockquote,
.github-gfm ul,
.github-gfm ol,
.github-gfm dl,
.github-gfm table,
.github-gfm pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.github-gfm hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.github-gfm ul,
.github-gfm ol {
  padding-left: 2em;
}

.github-gfm ul ul,
.github-gfm ul ol,
.github-gfm ol ol,
.github-gfm ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.github-gfm li>p {
  margin-top: 16px;
}

.github-gfm dl {
  padding: 0;
}

.github-gfm dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.github-gfm dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.github-gfm blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.github-gfm blockquote>:first-child {
  margin-top: 0;
}

.github-gfm blockquote>:last-child {
  margin-bottom: 0;
}

.github-gfm table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.github-gfm table th {
  font-weight: bold;
}

.github-gfm table th,
.github-gfm table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.github-gfm table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.github-gfm table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.github-gfm img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.github-gfm code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.github-gfm code:before,
.github-gfm code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.github-gfm pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.github-gfm .highlight {
  margin-bottom: 16px;
}

.github-gfm .highlight pre,
.github-gfm pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.github-gfm .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.github-gfm pre {
  word-wrap: normal;
}

.github-gfm pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.github-gfm pre code:before,
.github-gfm pre code:after {
  content: normal;
}

.github-gfm kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.github-gfm .pl-c {
  color: #969896;
}

.github-gfm .pl-c1,
.github-gfm .pl-s .pl-v {
  color: #0086b3;
}

.github-gfm .pl-e,
.github-gfm .pl-en {
  color: #795da3;
}

.github-gfm .pl-s .pl-s1,
.github-gfm .pl-smi {
  color: #333;
}

.github-gfm .pl-ent {
  color: #63a35c;
}

.github-gfm .pl-k {
  color: #a71d5d;
}

.github-gfm .pl-pds,
.github-gfm .pl-s,
.github-gfm .pl-s .pl-pse .pl-s1,
.github-gfm .pl-sr,
.github-gfm .pl-sr .pl-cce,
.github-gfm .pl-sr .pl-sra,
.github-gfm .pl-sr .pl-sre {
  color: #183691;
}

.github-gfm .pl-v {
  color: #ed6a43;
}

.github-gfm .pl-id {
  color: #b52a1d;
}

.github-gfm .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.github-gfm .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.github-gfm .pl-ml {
  color: #693a17;
}

.github-gfm .pl-mh,
.github-gfm .pl-mh .pl-en,
.github-gfm .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.github-gfm .pl-mq {
  color: #008080;
}

.github-gfm .pl-mi {
  color: #333;
  font-style: italic;
}

.github-gfm .pl-mb {
  color: #333;
  font-weight: bold;
}

.github-gfm .pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.github-gfm .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.github-gfm .pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.github-gfm .pl-mo {
  color: #1d3e81;
}

.github-gfm kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.github-gfm:before {
  display: table;
  content: "";
}

.github-gfm:after {
  display: table;
  clear: both;
  content: "";
}

.github-gfm .task-list-item {
  list-style-type: none;
}

.github-gfm .task-list-item+.task-list-item {
  margin-top: 3px;
}

.github-gfm .task-list-item input {
  margin: 0 0.35em 0.25em -1.6em;
  vertical-align: middle;
}

.github-gfm :checked+.radio-label {
  z-index: 1;
  position: relative;
  border-color: #4078c0;
}